<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">

  <display-name>unickm.kcpuz.service</display-name>
  <description>unickm.kcpuz.service</description>

  <listener>
  	<listener-class>com.aston.basex.BasexListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>service-servlet</servlet-name>
    <servlet-class>com.aston.basex.BasexServiceServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>service-servlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>service-servlet</servlet-name>
    <url-pattern>/codelist/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>service-servlet</servlet-name>
    <url-pattern>/_api/*</url-pattern>
  </servlet-mapping>

</web-app>