#Ignore MAVEN settings
target/

#Ignore IDEA settings
*.iml
*/*.iml
.idea/

#Ignore ECLIPSE settings
.metadata/
.settings/
.project
.classpath
Servers/

*/.metadata/
*/.settings/
*/.project
*/.classpath
kcpuz_data/

#Ignore Aston structure
apache-tomcat/

